
.footer { 
    background:#051747; 
    color:#fff;
    padding: 30px 10px;
}
.footer a {
     color:#dfefff; 
       text-decoration:none; 
}
.footer a:hover { 
    color:#ffffff; 
}
.social-icon {
     width:40px; 
     height:40px;
     border-radius:50%;
      background:#ffffff33;
       display:flex; 
       align-items:center; 
       justify-content:center; 
    }