
*{
    padding: 0;
    margin: 0;
}
.about-section {
    min-height: 100vh;
}

h1{
    font-size: 48px;
    color: #051747;
    font-weight: 700;
}

.about-text p {
    font-size: 20px;
    line-height: 1.6;
}

.owner-img {
    width: 380px;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
    border: 4px solid #051747;
    box-shadow: 0px 0px 25px rgba(8, 47, 114, 0.5);
    margin-left: 20px;
}
span{
    font-family: "Caveat", cursive;
}