*{
    margin: 0;
    padding: 0;
}
.safety-section {
    min-height: 100vh;
}

 h1 {
    font-size: 48px;
    color: #051747;
    font-weight: 700;
}

.intro {
    color: #0a2485;
    font-size: 18px;
    margin-bottom: 25px;
}

.safety-list .list-group-item {
    background: #ffffff;
    color: #000000;
    border: none;
    margin-bottom: 10px;
    padding: 12px 16px;
    border-left: 5px solid #051747;
    font-size: 17px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.safety-list .list-group-item:hover {
    background: #05174744;
    transform: translateX(5px);
}

.owner-img {
    width: 380px;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
    border: 4px solid #051747;
     box-shadow: 0px 0px 25px rgba(8, 47, 114, 0.5);
}