*{
    font-family:  "Ubuntu","Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 


:root{
    --white : #fefefe;
    --gray: #dddddd;
    --darkblue: #051747;
    --lightblue: #535f80;
    --medblue: #081f62;

} 

.content-body{
    background-color: #dbebfd;
    min-height: 100vh;
}
ul{
    li{
        list-style: none;
        color: #051747;
    
    }
}
.btn-search{
    background-color: #2d4793;
    color:white;
    outline: none;
    border:none;
}
// ---------------doilogbox---strt-------------
.divbody{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    .dbox{
        height: 290px;
        width: 300px;
        background-color: #dbebfd;
        border: 2px solid #051747;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        padding: 20px;
        h2{
            text-align: center;
            color: #051747;
        }
        form{
            label{
                padding: 5px 0px;
            }
            input{
                width: 100%;
                padding: 5px 10px;
                border: none;
            
            }
            button{
                width: 100%;
                padding: 5px;
                margin-top: 10px;
                background-color: #051747;
                border-radius: 8px;
                color: white;
                font-weight: bold;
                text-align: center;
            }
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                
                span{
                    font-weight: bold;
                    margin-left: 5px;
                }
                span:hover{
                    cursor: pointer;
                }

            }

            
        }


    }
}
.login:hover,.cart:hover{
    cursor: pointer;
    
        i{
          cursor: pointer;
        }
    

}
// ---------------doilogbox---end-------------
.slider{
    width: 100%;
    overflow: hidden;
}


figure{
    position: relative;
    left: 0;
    width: 400%; /* width dikali slide */
    animation: 30s slide infinite;
}

.slide{
    position: relative;
    width: 25%; /* width dibagi slide */
    float: left;
}

.slide h1{
    font-family: "Caveat", cursive;
    position: absolute;
    font-size: 3.5em;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.slide img{
    width: 100%;
    height: 250px;
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    // 55%{
    //     left:-300%;
    // }
    65%{
        left:-300%;
    }
    // 66%{
    //     left:-200%;
    // }
    74%{
        left:-200%;
    }
    // 75%{
    //     left:-100%;
    // }
    85%{
        left:-100%;
    }
    // 95%{
    //     left:0%;
    // }
    100%{
        left:0;
    }
    
}
input{
    outline: none;
    border:none;
   

}


.product-card {
  height: 320px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  height: 180px;
  width: 100%;
  object-fit: contain;
  background: #f3f3f3;
  border-radius: 6px;
  padding: 5px;
}
.product-name{

    height: 80px;
    width: 100%;
}
.btn-buy{
    background-color: #051747;
    color: white;

}



/* Mobile */
@media (max-width: 480px) {
  .slider h1 {
        font-size: 2.1rem;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    .slider h1 {
        font-size: 2.8rem;
    }
}


