*{
    padding: 0;
    margin: 0;
}
li{
    a{
        text-decoration: none;
        color: #051747;
        font-family: "Ubuntu";
    }
}


:root{
    --white : #fefefe;
    --gray: #dddddd;
    --darkblue: #051747;
    --lightblue: #535f80;
    --medblue: #081f62;

} 

.content-body{
    background-color: #dbebfd;
    min-height: 100vh;
}
ul{
    li{
        list-style: none;
        color: #051747;
    
    }
}









