
.slider{
    width: 100%;
    overflow: hidden;
}


figure{
    position: relative;
    left: 0;
    width: 400%; /* width dikali slide */
    animation: 15s slide infinite;
}

.slide{
    position: relative;
    width: 25%; /* width dibagi slide */
    float: left;
}

.slide h1{
    font-family: "Caveat", cursive;
    position: absolute;
    font-size: 3.5em;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.slide img{
    width: 100%;
    height: 250px;
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    // 55%{
    //     left:-300%;
    // }
    65%{
        left:-300%;
    }
    // 66%{
    //     left:-200%;
    // }
    74%{
        left:-200%;
    }
    // 75%{
    //     left:-100%;
    // }
    85%{
        left:-100%;
    }
    // 95%{
    //     left:0%;
    // }
    100%{
        left:0;
    }
    
}
.btn-search{
    background-color: #2d4793;
    color:white;
    outline: none;
    border:none;
}
/* Mobile */
@media (max-width: 480px) {
  .slider h1 {
        font-size: 2.1rem;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    .slider h1 {
        font-size: 2.8rem;
    }
}
