.btn-search{
    // background-color: #2d4793;
    // background-color: transparent;
    background-color: white;
    color:rgb(171, 171, 171);
    outline: none;
    border:none;
}

input{
    outline: none;
    border:none;
   

}


.product-card {
  height: 320px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  height: 180px;
  width: 100%;
  object-fit: contain;
  background: #f3f3f3;
  border-radius: 6px;
  padding: 5px;
}
.product-name{

    height: 80px;
    width: 100%;
}
.btn-buy{
    background-color: #051747;
    color: white;

}