*{
  padding: 0;
  margin: 0;
}

h4{
  color: #051747;
}
.img-box{
  height: 220px;
  width: 220px;
}
.img-flu{
  border-radius: 10px 10px 0px 0px;
  height: 100%;
  width: 100%;
}
.cat-name{
  background-color: #051747;
  color: white;
  border-radius: 0px 0px 10px 10px;
}
.img-box:hover .card-container {
  color: black;
  transition: all ease-in 0.2s;
  transform:scale(1.03) ;
}


.facilities-box{
  
  background-color: #051747; 
  span{
    color: #ffffff;
  }
  p{
    color:white
  }
}