*{
  padding: 0;
  margin: 0;
}

h4{
  color: #051747;
}
.img{
  height: 200px;
  width: 180px;

}

a{
  text-decoration: none;
}
.cat-name{
  background-color: #051747;
  color: white;
  border-radius: 0px 0px 10px 10px;
}
.img:hover {
  color: black;
  transition: all ease-in 0.2s;
  transform:scale(1.02) ;
}


.facilities-box{
  
  background-color: #051747; 
  span{
    color: #ffffff;
  }
  p{
    color:white
  }
}