*{
  padding: 0;
  margin: 0;
}
.info-box{
  span{
    color: #051747;
  }
}
.rounded{

  background-color: #d6dcffff; 
}
// h2{
//   margin-top:-11px; 
//   color:#051747; 
//   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
// }
// .product-card {
//   border-radius: 8px;
//   background: #FFF;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .product-img {
//   height: 150px;
//   width: 100%;
//   object-fit: contain;
//   background: #F5FCFF;
//   border-radius: 6px;
// }
// .product-name{

//     height: 80px;
//     width: 100%;
// }