*{
  padding: 0;
  margin: 0;
}

.cat-box{
     flex-wrap: wrap;
}
.img-box{
  margin: 10px;
  height: 270px;
  width: 250px;
  transition: all ease-in 0.2s;


  .cat-box-img{
    width: 100%;
    height: 230px;
    border-radius: 10px 10px 0px 0px;

}
p{
  color: #ffffff;
  background-color: #051747;
  border-radius: 0px 0px 10px 10px;
}
}
.img-box:hover{
   transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.facilities-box{
  
  background-color: #051747; 
  span{
    color: #ffffff;
  }
  p{
    color:white
  }
}