*{
    padding: 0;
    margin: 0;
}
.products-name{
    text-align: center;
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color:red;
        padding:6px 0px
    }
}
.col,.col-4{
    border:1px solid black;
}
.data-box{

    h3{
        color:green;
        text-align: center;
        padding-top: 3px;
    }
    img{
        height: 50px;
    }
}
.row{

}
@media(max-width:768px){
    .products-name{
        h1{
             font-size: 10px;
             font-weight: bold;
        }
    }
    .data-box{
        img{
            height: 30px;
        }
        h3{
            font-size: 9px;
    }
}}
@media(min-width:768px){
    .products-name{
        h1{
             font-size: 18px;
             font-weight: bold;
        }
    }
    .data-box{
        img{
            height: 30px;
        }
        h3{
            font-size: 15px;
    }
}}