*{
    padding: 0;
    margin: 0;
}
h2{
    color:#051747
}
button{
    background-color: #051747;
    color:white
}
.products-name{
    text-align: center;
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color:rgb(10, 1, 63);
        padding:6px 
    }
}
.col,.col-1{
    border-bottom: 0.5px solid #c4c4c4;
    border-top: 0.5px solid #c4c4c4;
    border-left: 0.5px solid #c4c4c4;
}
.data-box{

    h3{
        color:green;
        text-align: center;
        padding-top: 8px;
    }
    img{
        height: 50px;
    }
}

@media(max-width:768px){
    .products-name{
        h1{
             font-size: 10px;
             font-weight: bold;
        }
    }
    .data-box{
        img{
            height: 40px;
        }
        h3{
            font-size: 9px;
    }
}}
@media(min-width:768px){
    .products-name{
        h1{
             font-size: 18px;
             font-weight: bold;
        }
    }
    .data-box{
        img{
            height: 60px;
        }
        h3{
            font-size: 15px;
    }
}}